<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="SuppressWarningsFilter"/>
    <module name="TreeWalker">
        <module name="SuppressWarnings"/>
        <module name="SuppressWarningsHolder"/>

        <!-- Import checks -->
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        
        <!-- Block checks -->
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="LeftCurly">
            <property name="option" value="nl"/>
        </module>
        <module name="RightCurly"/>
        <module name="NeedBraces"/>
        
        <!-- Code checks -->
        <module name="ArrayTrailingComma"/>
        <module name="CovariantEquals"/>
        <module name="DeclarationOrder"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExplicitInitialization"/>
        <module name="FallThrough"/>
        <module name="FinalLocalVariable"/>
        <module name="HiddenField"/>
        <module name="IllegalCatch"/>
        <module name="IllegalThrows"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <!-- <module name="MissingCtor"/> -->
        <module name="MissingSwitchDefault"/>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleStringLiterals"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="NestedForDepth"/>
        <module name="NestedIfDepth"/>
        <module name="NestedTryDepth"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="PackageDeclaration"/>
        <module name="ParameterAssignment"/>
        <module name="RequireThis"/>
        <module name="ReturnCount">
            <property name="max" value="1"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnnecessaryParentheses"/>
        <module name="VariableDeclarationUsageDistance"/>
        
        <!-- Javadoc checks -->
        <module name="JavadocMethod"/>
        <module name="JavadocParagraph"/>
        <module name="JavadocStyle"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="NonEmptyAtclauseDescription"/>
        <module name="SingleLineJavadoc"/>
        <module name="SummaryJavadocCheck"/>
        <!-- <module name="WriteTag"/> -->
        
        <!-- Metrics checks -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="7"/>
        </module>

        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="5"/>
        </module>
        
        <module name="ClassFanOutComplexity">
            <property name="max" value="10"/>
        </module>
        
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>
        
        <module name="JavaNCSS"/>
        <module name="NPathComplexity">
            <property name="max" value="200"/>
        </module>
        
        <!-- Modifiers checks -->
        <!-- <module name="ClassMemberImpliedModifier" /> -->
        <!-- <module name="InterfaceMemberImpliedModifier"/> -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        
        <!-- Naming conventions checks -->
        <module name="AbbreviationAsWordInName"/>
        <module name="AbstractClassName"/>
        <module name="CatchParameterName"/>
        <module name="ClassTypeParameterName"/>
        <module name="ConstantName"/>
        <module name="InterfaceTypeParameterName"/>
        <!-- <module name="LambdaParameterName"/> -->
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName">
            <property name="format" value="m_[a-z][a-zA-Z0-9]+"/>
        </module>
        <module name="MethodName"/>
        <module name="MethodTypeParameterName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        
        <!-- Size violations checks -->
        <module name="ExecutableStatementCount">
            <property name="max" value="30"/>        
        </module>
        

        <module name="LineLength">
            <property name="max" value="100"/>
            <property name="ignorePattern" value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
        </module>

        <module name="MethodCount">
            <property name="maxTotal" value="25"/>
        </module>
        
        <module name="MethodLength">
            <property name="max" value="75"/>
        </module>
        
        <module name="OuterTypeNumber"/>
        
        <module name="ParameterNumber">
            <property name="max" value="7"/>
        </module>
        
        <!-- Whitespace checks -->
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoLineWrap"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
    </module>

    <module name="FileLength">
        <property name="max" value="500"/>
    </module>
    
    <module name="FileTabCharacter"/>
</module>
